<html>
  <head>
    <title>Alvin</title>
    <style>
      body {
        padding: 10px;
      }
    </style>
  </head>
  <body>

    <h1>Alvin Liang</h1>

    <h2>General Assembly (Several projects I did while at General Assembly)</h2>
    <h3><a href="http://katrina.princesspeach.nyc/">Final Project: Bored-NYC (Ballet and Modern dance the boredom away)</a></h3>
    <ul>
      <li>Created a CRUD events application for ballet and modern dance events in New York styled with Bootstrap and HTTParty requests to New York Times API and Google Maps API</li>
      <li>Served by a Sinatra server with RESTful routes, persisted with Active Record and SQlite3, written with Ruby and Javascript</li>
    </ul>

    <h3><a href="https://github.com/PEGBA/PEGBA">PEGBA (Previously Enjoyed Goods By Alvin)</a></h3>
    <ul>
      <li>Developed a T-shirt Store application with a Sinatra server persisted through Active Record and SQlite3</li>
      <li>Designed with Bootstrap written with Ruby and Javascript</li>
    </ul>

    <h3><a href="https://github.com/Liangalvin/moviePostering">Partially Information Movie Postering<a></h3>
      <ul>
        <li>Made a Movie poster Application with AJAX calls through OMDB’s API</li>
        <li>DOM manipulation of JSON objects in Javascript and jQuery</li>
      </ul>

      <h4><a href="/alvin2">Test middleware?</a></h4>

    <form method="POST" action="/logout">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log out">
    </form>

  </body>
</html>
